<!DOCTYPE html>
<html>
    <head>
        <title>Login Failed</title>
    </head>
    <body>
        <h1>Login Failed</h1>
        <p>You have entered the wrong login credentials. Please try again.</p>
        <p><a href="./">Go back to login page.</a></p>
    </body>
</html>