<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    
    <title>Login Page</title>

    <!--Importing Bootstrap 5 for CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!--Linking CSS file-->
    <link rel="stylesheet" href="./css/style.css">

    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/8875caf3cf.js" crossorigin="anonymous"></script>

</head>

<body>

    <!-- Bootstrap container to center and contain the page content -->
    <div class="container">

        <!-- Row to hold the login form and centre it horizontally -->
        <div class="row justify-content-center">
            <!-- Column that takes half the width on medium screens and larger -->
            <div class="col-md-6">
                <br>
                <!-- Page Title -->
                <h1 class="text-center">Login Page</h1>
                <br>


                <!--Error Message if Node.js passes an error-->
                <% if (error) { %>
                    <div class="alert alert-danger">
                        <!-- Outputs the error message from the server -->
                        <%= error %>
                    </div>
                    <% } %>


                        <!-- POST Method for Login -->
                        <form method="POST" action="/login">

                            <!-- Username Input -->
                            <!-- 
                                - form-group = bootstrap wrapper for forms 
                                - the value=username = this retains the username in the field if login fails 
                                - id="usernam" = used to identify the input on this page
                                - name="username" = used by node.js to access as req.body.username
                                - form-control = bootstrap class that styles the input                            
                            -->
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" id="username" name="username"
                                    placeholder="Enter your Username:" value="<%= username || '' %>" required>
                            </div>
                            <!-- End of Username Input -->


                            <!-- Password Input -->
                            <!--
                                - form-group = bootstrap wrapper for forms 
                                - required ensure it must be filled in before button action can function
                                - id="password" = used to identify the input on this page
                                - name="password" = used by node.js to access as req.body.password
                                - form-control = bootstrap class that styles the input
                            -->
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" name="password"
                                    placeholder="Enter your Password:" required>
                            </div>
                            <!-- End of Password Input -->
                            <button type="submit" class="btn btn-primary btn-block">Login</button>
                        </form>
                        <!-- End of POST Method for Login -->
            </div>
        </div>
    </div>


        <!--Importing Bootstrap 5 for JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>