<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>Robert's Sports Shop - Miscellaneous</title>

    <!--Importing Bootstrap 5 for CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!--Linking CSS file-->
    <link rel="stylesheet" href="/public/css/style.css">

    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/8875caf3cf.js" crossorigin="anonymous"></script>

    <!-- Favicon Link -->
    <link rel="icon" href="/public/images/favicon/wordmark-favicon.ico" type="image/x-icon">

</head>


<body>
    <!-------------------->
    <!-- Navbar Section -->
    <%- include('templates/navbar') %>

        <!-- End of Navbar Section -->
        <!--------------------------->


        <!----------------------------->
        <!--Links to Other Shop Pages-->
        <div class="page-buttons">
            <a href="/jerseyShop">
                <!-- class my-button for CSS margin, padding, text align, font size -->
                <button class="my-button">JERSEYS</button>
            </a>
            <a href="/shop-all">
                <!-- class my-button for CSS margin, padding, text align, font size -->
                <button class="my-button">SHOP ALL</button>
            </a>
        </div>
        <!--End of Links to Other Shop Pages-->
        <!------------------------------------>


        <!--FEATURED SECTIONS-->
        <!-- Card like layout with image reference, item name, and button leading to shop page of product-->
        

        <!--Footballs Section-->
        <!--
            - my-5 = margin top and bottom size 5
            - py-5 = padding top and bottom size 5
        -->
        <section class="my-5 pb-5">
            <!--
                - bootstrap container
                - text-center = centres all text
                - mt-5 = margin top size 5
                - py-5 = padding top and bottom size 5
            -->
            <div class="container text-center mt-5 py-5">
                <h3>Footballs</h3>
                <hr>
                <!-- link to shopEntire section id -->
                <a href="/shop-all#footballs">
                    <!-- class my-button for CSS margin, padding, text align, font size -->
                    <button class="my-button">All Footballs</button>
                </a>
            </div>
            <!--
                - creates bootstrap row
                - mx-auto = horizontal margin is automatic
                - container-fluid = full width container
            -->
            <div class="row mx-auto container-fluid">
                <!--
                    - class product for CSS font weight and image wrapper
                    - text center = text aligned centrally on horizontal axis
                    - col-lg-3 = large screens 4 products per row
                    - col-md-4 = medium screens 3 products per row
                    - col-12 = small screens 1 product per row
                    - anchor link to product page via ID in app.js
                    - img-fluid makes image responsive
                    - mb-3 = adds margin size 3 to bottom of image
                -->
                <div class="product text-center col-lg-3 col-md-4 col-12">
                    <img class="img-fluid mb-3" src="/public/images/misc_items/world_cup_ball.png" alt="World Cup 2026">
                    <h5>World Cup 2026</h5>
                    <a href="/shop?rec=237">
                        <button>More Details</button>
                    </a>
                </div>
                <div class="product text-center col-lg-3 col-md-4 col-12">
                    <img class="img-fluid mb-3" src="/public/images/misc_items/premier_league_ball.png"
                        alt="Premier League 25/26">
                    <h5>Premier League 25/26</h5>
                    <a href="/shop?rec=238">
                        <button>More Details</button>
                    </a>
                </div>
                <div class="product text-center col-lg-3 col-md-4 col-12">
                    <img class="img-fluid mb-3" src="/public/images/misc_items/champions_league_ball.png"
                        alt="Champions League 25/26">
                    <h5>Champions League 25/26</h5>
                    <a href="/shop?rec=243">
                        <button>More Details</button>
                    </a>
                </div>
                <div class="product text-center col-lg-3 col-md-4 col-12">
                    <img class="img-fluid mb-3" src="/public/images/misc_items/europa_league_ball.png"
                        alt="Europa League 25/26">
                    <h5>Europa League 25/26</h5>
                    <a href="/shop?rec=244">
                        <button>More Details</button>
                    </a>
                </div>
            </div>
        </section>
        <!--End of Footballs Section-->


        <!-- Football Goals -->
        <!--
            - my-5 = margin top and bottom size 5
            - py-5 = padding top and bottom size 5
        -->
        <section class="my-5 pb-5">
            <!--
                - bootstrap container
                - text-center = centres all text
                - mt-5 = margin top size 5
                - py-5 = padding top and bottom size 5
            -->
            <div class="container text-center mt-5 py-5">
                <h3>Football Goals</h3>
                <hr>
                <!-- link to shopEntire section id -->
                <a href="/shop-all#goals">
                    <!-- class my-button for CSS margin, padding, text align, font size -->
                    <button class="my-button">All Football Goals</button>
                </a>
            </div>
            <!--
                - creates bootstrap row
                - mx-auto = horizontal margin is automatic
                - container-fluid = full width container
            -->
            <div class="row mx-auto container-fluid">
                <!--
                    - class product for CSS font weight and image wrapper
                    - text center = text aligned centrally on horizontal axis
                    - col-lg-3 = large screens 4 products per row
                    - col-md-4 = medium screens 3 products per row
                    - col-12 = small screens 1 product per row
                    - anchor link to product page via ID in app.js
                    - img-fluid makes image responsive
                    - mb-3 = adds margin size 3 to bottom of image
                -->
                <div class="product text-center col-lg-3 col-md-4 col-12">
                    <img class="img-fluid mb-3" src="/public/images/misc_items/forza8x4.png" alt="8 x 4 Forza">
                    <h5>8 x 4 Forza</h5>
                    <a href="/shop?rec=261">
                        <button>More Details</button>
                    </a>
                </div>
                <div class="product text-center col-lg-3 col-md-4 col-12">
                    <img class="img-fluid mb-3" src="/public/images/misc_items/samba8x5.png" alt="8 x 5 Samba">
                    <h5>8 x 5 Samba</h5>
                    <a href="/shop?rec=265">
                        <button>More Details</button>
                    </a>
                </div>
                <div class="product text-center col-lg-3 col-md-4 col-12">
                    <img class="img-fluid mb-3" src="/public/images/misc_items/forza12x6.png" alt="12 x 6 Forza">
                    <h5>12 x 6 Forza</h5>
                    <a href="/shop?rec=262">
                        <button>More Details</button>
                    </a>
                </div>
                <div class="product text-center col-lg-3 col-md-4 col-12">
                    <img class="img-fluid mb-3" src="/public/images/misc_items/samba12x6.png" alt="12 x 6 Samba">
                    <h5>12 x 6 Samba</h5>
                    <a href="/shop?rec=264">
                        <button>More Details</button>
                    </a>
                </div>
            </div>
        </section>
        <!-- End of Football Goals -->


        <!-- Goalkeeper Gloves -->
        <!--
            - my-5 = margin top and bottom size 5
            - py-5 = padding top and bottom size 5
        -->
        <section class="my-5 pb-5">
            <!--
                - bootstrap container
                - text-center = centres all text
                - mt-5 = margin top size 5
                - py-5 = padding top and bottom size 5
            -->
            <div class="container text-center mt-5 py-5">
                <h3>Goalkeeper Gloves</h3>
                <hr>
                <!-- link to shopEntire section id -->
                <a href="/shop-all#gloves">
                    <!-- class my-button for CSS margin, padding, text align, font size -->
                    <button class="my-button">All Goalkeeper Gloves</button>
                </a>
            </div>
            <!--
                - creates bootstrap row
                - mx-auto = horizontal margin is automatic
                - container-fluid = full width container
            -->
            <div class="row mx-auto container-fluid">
                <!--
                    - class product for CSS font weight and image wrapper
                    - text center = text aligned centrally on horizontal axis
                    - col-lg-3 = large screens 4 products per row
                    - col-md-4 = medium screens 3 products per row
                    - col-12 = small screens 1 product per row
                    - anchor link to product page via ID in app.js
                    - img-fluid makes image responsive
                    - mb-3 = adds margin size 3 to bottom of image
                -->
                <div class="product text-center col-lg-3 col-md-4 col-12">
                    <img class="img-fluid mb-3" src="/public/images/misc_items/vaporGrip3.png" alt="Vapor Grip 3">
                    <h5>Vapor Grip 3</h5>
                    <a href="/shop?rec=256">
                        <button>More Details</button>
                    </a>
                </div>
                <div class="product text-center col-lg-3 col-md-4 col-12">
                    <img class="img-fluid mb-3" src="/public/images/misc_items/phantom.png" alt="Phantom">
                    <h5>Phantom</h5>
                    <a href="/shop?rec=257">
                        <button>More Details</button>
                    </a>
                </div>
                <div class="product text-center col-lg-3 col-md-4 col-12">
                    <img class="img-fluid mb-3" src="/public/images/misc_items/predatorpro.png" alt="Predator Pro">
                    <h5>Predator Pro</h5>
                    <a href="/shop?rec=258">
                        <button>More Details</button>
                    </a>
                </div>
                <div class="product text-center col-lg-3 col-md-4 col-12">
                    <img class="img-fluid mb-3" src="/public/images/misc_items/copaPro.png" alt="Copa Pro">
                    <h5>Copa Pro</h5>
                    <a href="/shop?rec=259">
                        <button>More Details</button>
                    </a>
                </div>
            </div>
        </section>
        <!-- End of Goalkeeper Gloves -->


        <!--Shin Pads-->
        <!--
            - my-5 = margin top and bottom size 5
            - py-5 = padding top and bottom size 5
        -->
        <section class="my-5 pb-5">
            <!--
                - bootstrap container
                - text-center = centres all text
                - mt-5 = margin top size 5
                - py-5 = padding top and bottom size 5
            -->
            <div class="container text-center mt-5 py-5">
                <h3>Shin Pads</h3>
                <hr>
                <!-- link to shopEntire section id -->
                <a href="/shop-all#shinPads">
                    <!-- class my-button for CSS margin, padding, text align, font size -->
                    <button class="my-button">All Shin Pads</button>
                </a>
            </div>
            <!--
                - creates bootstrap row
                - mx-auto = horizontal margin is automatic
                - container-fluid = full width container
            -->
            <div class="row mx-auto container-fluid">
                <!--
                    - class product for CSS font weight and image wrapper
                    - text center = text aligned centrally on horizontal axis
                    - col-lg-3 = large screens 4 products per row
                    - col-md-4 = medium screens 3 products per row
                    - col-12 = small screens 1 product per row
                    - anchor link to product page via ID in app.js
                    - img-fluid makes image responsive
                    - mb-3 = adds margin size 3 to bottom of image
                -->
                <div class="product text-center col-lg-3 col-md-4 col-12">
                    <img class="img-fluid mb-3" src="/public/images/misc_items/tiro.png" alt="Tiro">
                    <h5>Tiro</h5>
                    <a href="/shop?rec=249">
                        <button>More Details</button>
                    </a>
                </div>
                <div class="product text-center col-lg-3 col-md-4 col-12">
                    <img class="img-fluid mb-3" src="/public/images/misc_items/club.png" alt="Club">
                    <h5>Club</h5>
                    <a href="/shop?rec=250">
                        <button>More Details</button>
                    </a>
                </div>
                <div class="product text-center col-lg-3 col-md-4 col-12">
                    <img class="img-fluid mb-3" src="/public/images/misc_items/shadow.png" alt="Shadow">
                    <h5>Shadow</h5>
                    <a href="/shop?rec=251">
                        <button>More Details</button>
                    </a>
                </div>
                <div class="product text-center col-lg-3 col-md-4 col-12">
                    <img class="img-fluid mb-3" src="/public/images/misc_items/king.png" alt="King">
                    <h5>King</h5>
                    <a href="/shop?rec=254">
                        <button>More Details</button>
                    </a>
                </div>
            </div>
        </section>
        <!-- End of Shin Pads -->

        <!-- END OF FEATURED SECTIONS -->


        <!---------------------->
        <!--Back to Top Button-->
        <!-- id set for styling in CSS, function in Javascript-->
        <button id="backToTop" title="Go to top">↑ Top</button>

        <!--End of Back to Top Button-->
        <!----------------------------->


        <!------------------->
        <!-- Footer Section-->
        <%- include('templates/footer') %>

        <!-- End of Footer Section-->
        <!-------------------------->


        <!--Link JAVASCRIPT FILE-->
        <script src="/public/script.js"></script>



        <!--Importing Bootstrap 5 for JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>



</body>


</html>