<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>Robert's Sports Shop - Miscellaneous</title>

    <!--Importing Bootstrap for CSS-->
    <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!--Linking CSS file-->
    <link rel="stylesheet" href="/public/css/style.css">

    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/8875caf3cf.js" crossorigin="anonymous"></script>

</head>


<body>
    <!-------------------->
    <!-- Navbar Section -->
    <%- include('templates/navbar') %>

        <!-- End of Navbar Section -->
        <!--------------------------->


        <!----------------------------->
        <!--Links to Other Shop Pages-->
        <div class="page-buttons">
            <a href="/jerseyShop">
                <button class="my-button">JERSEYS</button>
            </a>
            <a href="/shop-all">
                <button class="my-button">SHOP ALL</button>
            </a>
        </div>
        <!--End of Links to Other Shop Pages-->
        <!------------------------------------>


        <!--FEATURED SECTIONS-->
        <!-- Card like layout with image reference, item name, price, and button leading to shop page of product-->
        <!--Footballs Section-->
        <section id="featured" class="my-5 pb-5">
            <div class="container text-center mt-5 py-5">
                <h3>Footballs</h3>
                <hr>
                <a href="/shop-all#footballs">
                    <button class="my-button">All Footballs</button>
                </a>
            </div>
            <div class="row mx-auto container-fluid">
                <div class="product text-center col-lg-3 col-md-4 col-12">
                    <img class="img-fluid mb-3" src="/public/images/misc_items/world_cup_ball.png" alt="World Cup 2026">
                    <h5 class="p-name">World Cup 2026</h5>
                    <a href="/shop?rec=237">
                        <button class="details">More Details</button>
                    </a>
                </div>
                <div class="product text-center col-lg-3 col-md-4 col-12">
                    <img class="img-fluid mb-3" src="/public/images/misc_items/premier_league_ball.png"
                        alt="Premier League 25/26">
                    <h5 class="p-name">Premier League 25/26</h5>
                    <a href="/shop?rec=238">
                        <button class="details">More Details</button>
                    </a>
                </div>
                <div class="product text-center col-lg-3 col-md-4 col-12">
                    <img class="img-fluid mb-3" src="/public/images/misc_items/champions_league_ball.png"
                        alt="Champions League 25/26">
                    <h5 class="p-name">Champions League 25/26</h5>
                    <a href="/shop?rec=243">
                        <button class="details">More Details</button>
                    </a>
                </div>
                <div class="product text-center col-lg-3 col-md-4 col-12">
                    <img class="img-fluid mb-3" src="/public/images/misc_items/europa_league_ball.png"
                        alt="Europa League 25/26">
                    <h5 class="p-name">Europa League 25/26</h5>
                    <a href="/shop?rec=244">
                        <button class="details">More Details</button>
                    </a>
                </div>
            </div>
        </section>


        <!--Football Goals-->
        <section id="featured" class="my-5 pb-5">
            <div class="container text-center mt-5 py-5">
                <h3>Football Goals</h3>
                <hr>
                <a href="/shop-all#goals">
                    <button class="my-button">All Football Goals</button>
                </a>
            </div>
            <div class="row mx-auto container-fluid">
                <div class="product text-center col-lg-3 col-md-4 col-12">
                    <img class="img-fluid mb-3" src="/public/images/misc_items/forza8x4.png" alt="8 x 4 Forza">
                    <h5 class="p-name">8 x 4 Forza</h5>
                    <a href="/shop?rec=261">
                        <button class="details">More Details</button>
                    </a>
                </div>
                <div class="product text-center col-lg-3 col-md-4 col-12">
                    <img class="img-fluid mb-3" src="/public/images/misc_items/samba8x5.png" alt="8 x 5 Samba">
                    <h5 class="p-name">8 x 5 Samba</h5>
                    <a href="/shop?rec=265">
                        <button class="details">More Details</button>
                    </a>
                </div>
                <div class="product text-center col-lg-3 col-md-4 col-12">
                    <img class="img-fluid mb-3" src="/public/images/misc_items/forza12x6.png" alt="12 x 6 Forza">
                    <h5 class="p-name">12 x 6 Forza</h5>
                    <a href="/shop?rec=262">
                        <button class="details">More Details</button>
                    </a>
                </div>
                <div class="product text-center col-lg-3 col-md-4 col-12">
                    <img class="img-fluid mb-3" src="/public/images/misc_items/samba12x6.png" alt="12 x 6 Samba">
                    <h5 class="p-name">12 x 6 Samba</h5>
                    <a href="/shop?rec=264">
                        <button class="details">More Details</button>
                    </a>
                </div>
            </div>
        </section>



        <!--Goalkeeper Gloves-->
        <section id="featured" class="my-5 pb-5">
            <div class="container text-center mt-5 py-5">
                <h3>Goalkeeper Gloves</h3>
                <hr>
                <a href="/shop-all#gloves">
                    <button class="my-button">All Goalkeeper Gloves</button>
                </a>
            </div>
            <div class="row mx-auto container-fluid">
                <div class="product text-center col-lg-3 col-md-4 col-12">
                    <img class="img-fluid mb-3" src="/public/images/misc_items/vaporGrip3.png" alt="Vapor Grip 3">
                    <h5 class="p-name">Vapor Grip 3</h5>
                    <a href="/shop?rec=256">
                        <button class="details">More Details</button>
                    </a>
                </div>
                <div class="product text-center col-lg-3 col-md-4 col-12">
                    <img class="img-fluid mb-3" src="/public/images/misc_items/phantom.png" alt="Phantom">
                    <h5 class="p-name">Phantom</h5>
                    <a href="/shop?rec=257">
                        <button class="details">More Details</button>
                    </a>
                </div>
                <div class="product text-center col-lg-3 col-md-4 col-12">
                    <img class="img-fluid mb-3" src="/public/images/misc_items/predatorpro.png" alt="Predator Pro">
                    <h5 class="p-name">Predator Pro</h5>
                    <a href="/shop?rec=258">
                        <button class="details">More Details</button>
                    </a>
                </div>
                <div class="product text-center col-lg-3 col-md-4 col-12">
                    <img class="img-fluid mb-3" src="/public/images/misc_items/copaPro.png" alt="Copa Pro">
                    <h5 class="p-name">Copa Pro</h5>
                    <a href="/shop?rec=259">
                        <button class="details">More Details</button>
                    </a>
                </div>
            </div>
        </section>


        <!--Shin Pads-->
        <section id="featured" class="my-5 pb-5">
            <div class="container text-center mt-5 py-5">
                <h3>Shin Pads</h3>
                <hr>
                <a href="/shop-all#shinPads">
                    <button class="my-button">All Shin Pads</button>
                </a>
            </div>
            <div class="row mx-auto container-fluid">
                <div class="product text-center col-lg-3 col-md-4 col-12">
                    <img class="img-fluid mb-3" src="/public/images/misc_items/tiro.png" alt="Tiro">
                    <h5 class="p-name">Tiro</h5>
                    <a href="/shop?rec=249">
                        <button class="details">More Details</button>
                    </a>
                </div>
                <div class="product text-center col-lg-3 col-md-4 col-12">
                    <img class="img-fluid mb-3" src="/public/images/misc_items/club.png" alt="Club">
                    <h5 class="p-name">Club</h5>
                    <a href="/shop?rec=250">
                        <button class="details">More Details</button>
                    </a>
                </div>
                <div class="product text-center col-lg-3 col-md-4 col-12">
                    <img class="img-fluid mb-3" src="/public/images/misc_items/shadow.png" alt="Shadow">
                    <h5 class="p-name">Shadow</h5>
                    <a href="/shop?rec=251">
                        <button class="details">More Details</button>
                    </a>
                </div>
                <div class="product text-center col-lg-3 col-md-4 col-12">
                    <img class="img-fluid mb-3" src="/public/images/misc_items/king.png" alt="King">
                    <h5 class="p-name">King</h5>
                    <a href="/shop?rec=254">
                        <button class="details">More Details</button>
                    </a>
                </div>
            </div>
        </section>



        <!---------------------->
        <!--Back to Top Button-->
        <!-- id set for styling in CSS, function in Javascript-->
        <button id="backToTop" title="Go to top">↑ Top</button>

        <!--End of Back to Top Button-->
        <!----------------------------->


        <!------------------->
        <!-- Footer Section-->
        <%- include('templates/footer') %>

        <!-- End of Footer Section-->
        <!-------------------------->


        <!--Link JAVASCRIPT FILE-->
        <script src="/public/script.js"></script>



        <!--Importing Bootstrap for JS and Popper-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>



</body>


</html>