<!DOCTYPE html>
<html lang="en">
    <head>

    </head>
    <body>
        <h1>Club: <%= myClub %></h1>
        <h2>Version: <%= myVersion %></h2>
        <h2>League: <%= myLeague %></h2>
        <h3>Price: <%= myPrice %></h3>
    </body>
</html>