/*Importing font style*/
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/*Bootstrap Cheat Sheet
https://getbootstrap.com/docs/5.0/examples/cheatsheet/#typography
*/


/*Generic style settings*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Body font style using the imported Lora font*/
body {
    font-family: "Lora", serif;
    font-style: normal;
}

/*Header font style - size and weights*/
h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

h2 {
    font-size: 1.9rem;
    font-weight: 600;
}

h3 {
    font-size: 1.5rem;
    font-weight: 700;
}

h4 {
    font-size: 1.3rem;
    font-weight: 600;
}

h5 {
    font-size: 1.2rem;
    font-weight: 500;
    color: black;
}

h6 {
    font-size: 1.1rem;
    font-weight: 400;
}

p {
    font-size: 1rem;
    font-weight: 400;
}

/*Button*/
button {
    font-size: 0.8rem;
    font-weight: 700;
    outline: none;
    border: none;
    background-color: rgb(238, 21, 64);
    color: black;
    padding: 13px 30px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3 ease;
}

/*button change colour when over*/
button:hover {
    background-color: black;
    color: rgb(238, 21, 64);
}

/*Buttons for links to shop, misc, and jerseys on shop pages*/
.page-buttons {
    display: flex;
    width: 100%;
}

/*Give buttons equal spacing and remove the link underline*/
.page-buttons a {
    flex: 1;
    text-decoration: none;
}

.page-buttons .my-button {
    width: 100%;
    flex: 1; /* each button takes equal space */
    margin: 0; /* remove default spacing */
    border-radius: 0; /* remove button rounding for flush edges */
    padding: 25px 0; /* vertical height */
    text-align: center;
    font-size: 1.2rem; 
    align-items: stretch;
}

/*Icon Buttons in Navbar*/
.icon-button {
    background-color: transparent;
    color: rgb(238, 21, 64);
    padding: 0;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.icon-button:hover {
    color: black;
    background-color: transparent;
}



/*--------------*/
/*Navbar Section*/

/*Website Title*/
.navbar-brand {
    padding: 0 7px;
    font-size: 22px;
    top: 0;
    left: 0;
}

/*Navbar Links - colour, padding, transition*/
.navbar-light .navbar-nav .nav-link {
    padding: 0 10px;
    color: rgb(238, 21, 64);
    font-size: 15px;
    transition: 0.3s ease;
    cursor: pointer;
}

/*Navbar hover effects - change colour*/
.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: black;
}

.navbar i.active {
    color: black;
}

/*Navbar icons - pointer and paddings*/
.navbar i {
    padding: 0 1px;
    cursor: pointer;
    transition: 0.3 ease;
    color: rgb(238, 21, 64);
}


.navbar .container {
    max-width: 1140px; /* matches Bootstrap container */
}


/* Ensure icons stay inside container */
.navbar-icons {
    flex-shrink: 0;
}


/*Bar icon when screen resize, with hover effect below*/
#bar {
    font-size: 1.5rem;
    padding: 3px;
    cursor: pointer;
    transition: 0.3 ease;
    color: rgb(238, 21, 64);
}

/* Let collapsible content take remaining space */
.navbar-collapse {
    flex-grow: 1;
    display: flex;
    align-items: center;
}


#bar:hover,
#bar.active {
    background-color: rgb(238, 21, 64);
    color: black;
}

/*Navbar resized (mobile, tablet, etc)*/
.navbar-light .navbar-toggler {
    border: none;
    outline: none;
}


/*Below is all done from browser by clicking Inspet -> Elemets -> Selector -> Copy -> Copy Selector*/
/*Media Query to change background colour over nav icon when screen is resized*/
@media only screen and (max-width: 991px) {

    body>nav>div>button:hover,
    body>nav>div>button:focus {
        background-color: white;
    }

    /*make the navbar at the top of page white*/
    body>nav>div>button:hover #bar,
    body>nav>div>button:focus #bar {
        background-color: white;
    }

    /*when screen is resized make the links appear on the right hand side, under the icon*/
    #navbarSupportedContent>ul {
        margin: 1rem;
        justify-content: flex-end;
        align-items: flex-end;
        text-align: right;
    }

    /*apply padding at top to bottom for the links in list on resized screen*/
    #navbarSupportedContent>ul>li:nth-child(n)>a {
        padding: 10px 0;
    }
}


/*End of Navbar Section*/
/*---------------------*/



/*------------------------------*/
/*Background Image for Home Page*/

/*Link for image, set as the background*/
#home {
    /*Image from: https://www.freepik.com/free-vector/abstract-background-with-dark-blue-watercolors_1068165.htm#fromView=search&page=2&position=37&uuid=3ab4d93f-8048-4496-a416-6b5f69966f1b&query=sports+background*/
    background-image: url("/public/images/background/abstract.jpg");
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: top center;
    /*text and button on homepage*/
    padding-top: 120px;
    /* space for fixed navbar above */
    padding-bottom: 80px;
}

/*End of Background Image for Home Page*/
/*-------------------------------------*/



/*--------------*/
/*Footer Section*/

/*Footer style*/
footer {
    background-color: #222222;
    padding: 40px 0;
}

/*text colour and size for the footer, colour to match red elsewhere*/
footer h5 {
    color: #d8d8d8;
    font-weight: 700;
    font-size: 1.2rem;
}

footer h6 {
    color: #d8d8d8;
    font-weight: 700;
    font-size: 1.1rem;
}

footer p {
    color: rgb(238, 21, 64);
    font-weight: 500;
    font-size: 0.9rem;
}

/*Padding to give spacing between items in the footer list*/
footer li {
    padding-bottom: 22px;
}

/*anchor tags in the FEATURED list - colour red and size*/
footer li a {
    font-size: 0.9rem;
    color: rgb(238, 21, 64);
}

/*hover over feature for the tags in the FEATURED LIST, colour to match the FEATURED and CONTACT US colour of white*/
footer li a:hover {
    color: #d8d8d8;
}

/*Social Media icons in the copyright section placed in round blocks with colour, width/height, margin for spacing, and transition*/
footer .copyright a {
    color: rgb(238, 21, 64);
    width: 38px;
    height: 38px;
    background-color: white;
    display: inline-block;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    transition: 0.3s ease;
    margin: 0 5px;
}

footer .copyright a:hover {
    color: black;
    background-color: rgb(238, 21, 64);
}

/*background of white for the transparen footer logo*/
#footer_small_logo {
    width: 150px;
    height: 100px;
    background-color: white;
    border-radius: 25%;
}


.footer-one {
    display: flex;
    flex-direction: column;
}

/*End of Footer Section*/
/*---------------------*/


/*featured items section for scaling and alignment to cover entire space with max-height and be centered*/
#feat_items .one img {
    width: 100%;
    max-height: 600px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/*featured items - button and text alignment to centre the text and button at top of images. position, width, height, top, and left keeps the button and text in the image container*/
/*display, flex-direction, align-items, and text-align makes the button and text align centrally at the top of the images*/
#feat_items .one .details {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/*featured items - add hover on image to change its background colour with the red style elsewhere (using rgba) when the pointer is over the image*/
#feat_items .one:hover .details {
    cursor: pointer;
    background-color: rgba(238, 21, 64, 0.3);
}

/*featured items - move the button down 70px from the top of the image*/
#feat_items .one .details button {
    transform: translateY(70px);
}



/*The Slogan Text settings*/
#slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(238, 21, 64);
}

/* ShopItemss Page */
/*For the product item page*/
#product {
    font-weight: 700;
}

#type {
    color: #555;
}

img {
    max-width: 100%;
}

.product-image-wrapper {
    max-width: 520px;
    margin: 0 auto;
}

.product-image {
    transition: transform 0.4s ease;
}

#product {
    font-weight: 700;
    margin-bottom: 20px;
}

#type {
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.text-danger {
    font-size: 1.8rem;
    font-weight: bold;
}

/*hover over the product image*/
.product-image-wrapper {
    overflow: hidden;
    /* prevents image spilling out */
}

.product-image:hover {
    transform: scale(1.15);
}


/*Stop navbar overlapping on pages*/
body {
    padding-top: 70px;
    /* adjusted for navbar height */
}


/*---------------------*/
/*Casousel on Home Page*/

.img-wrap {
    position: relative;
}

.carousel-img {
    display: none;
    max-height: 500px;
    width: 100%;
    object-fit: contain;
    /* keeps the whole image visible */
}

.carousel-img.active {
    display: block;
}

/*End of Casousel on Home Page*/
/*----------------------------*/


/*About page - create white background with 85% transparency behind text*/
.aboutUS {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.aboutUS ul li {
    margin-bottom: 8px;
}

.aboutTitle {
    text-align: center;
}

/*Contact US page - create white background with 85% transparency behind text*/

.contactUS {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.contactTitle {
    text-align: center;
}

/*Contact US page - style for the box around the iframe map from Google Maps*/
.map-box {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.map-button {
    font-size: 0.8rem;
    font-weight: 700;
    outline: none;
    border: none;
    background-color: rgb(238, 21, 64);
    color: black;
    padding: 13px 30px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3 ease;
}

/*button change colour when over*/
.map-button:hover {
    background-color: black;
    color: rgb(238, 21, 64);
}


/*----------------------------------------------*/
/*Back to Top Button (applied on multiple pages)*/

#backToTop {
    position: fixed; /* button stays in the same place when scrolling */
    bottom: 50px; /* distance from bottom on the screen */
    right: 20px; /* distance from right on the screen */
    display: none; /* button is hidden by default, it only appears after scrolling down the page (via script.js file) */
    z-index: 1000; /* makes sure the button appears on top of other content */
    padding: 12px 20px; /* applies padding 12px to top and bottom, and 20px to left and right of the button */
    font-size: 0.9rem; /* sets the font-size for the button text*/
    border-radius: 5px; /* applies corner rounding on the button */
    cursor: pointer; /* changes the cursor to a pointer when the mouse goes over the button */
    background-color: rgb(238, 21, 64); /*sets the background colour*/
    color: black; /*sets the text colours*/
    border: none; /* makes sure there is no border around the button */
    transition: 0.3s ease; /*applies a minimal tranisition delay*/
}

/*change colours when hover over, inverse from original colours to give visual feedback the button is active */
#backToTop:hover {
    background-color: black;
    color: rgb(238, 21, 64);
}

/*End of Back to Top Button*/
/*-------------------------*/



/* ShopEntire page for the Page Sections navbar */
.shop-sticky-nav {
    display: flex;
    position: sticky;
    top: 70px;
    /* height of your main navbar */
    z-index: 900;
    background-color: rgb(238, 21, 64);
}

/* Make all links stretch */
.shop-sticky-nav a {
    display: flex;
    flex: 1;
}

/* Force uniform button height */
.shop-sticky-nav .my-button {
    height: 60px;
    width: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: normal;
    line-height: 1.2;
    font-size: small;
}

/*Prevent wrapping looking bad on smaller screens*/
@media (max-width: 768px) {
    .shop-sticky-nav .my-button {
        font-size: 0.9rem;
        height: 70px;
    }
}

/*CHECKOUT PAGE LAYOUT FOR ITEMS IN CART*/
/* Flex container for each row */
.cart-item {
    display: flex;
    align-items: center;
    padding: 10px 0px;
    border-bottom: 1px solid #ddd;
}

/* Column widths */
.col-image {
    flex: 0 0 80px;
    /* fixed width for image */
}

.col-name {
    flex: 2;
    /* product name takes more space */
    padding: 0 20px;
}

.col-size,
.col-quantity,
.col-total {
    flex: 1;
    text-align: center;
}

.cart-item img {
    width: 80px;
    height: auto;
}

.col-cancel {
    flex: 0 0 50px;
    text-align: center;
}

.cart-header {
    display: flex;
    align-items: center;
}

/*The name of the product in the cart, no decoration removes underline and change colour back to standard*/
.col-name a {
    color: inherit;
    text-decoration: none;
}

/*Adds cursor when over the product name, showing its a link */
.col-name a:hover {
    cursor: pointer;
}


/*----------------------------------------------*/
/* Style for Printing from Payment Success page */

/*initially hides everything in the body for the print function*/
@media print {
    body * {
        visibility: hidden;
    }

    /*Only shows the elements (including child elements) within receipt */
    #receipt,
    #receipt * {
        visibility: visible;
    }

    /*changes the position when printing so it begins at top left of page and uses the full-width of the page*/
    #receipt {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        padding: 20px;
    }

    /*hides the buttons and links when printing*/
    .no-print {
        display: none !important;
    }
}

/* End of Style for Printing from Payment Success page */
/*-----------------------------------------------------*/